* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
}

.player {
    width: 100%;
    display: flex;
    height: 100vh;
    min-height: 300px;
    position: relative;
}

.player .background-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.background-container section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
    overflow: hidden;
}

section .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}

section .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}

.player .dashboard {
    display: block;
    width: 35%;
    padding: 14px;
    z-index: 999;
}

.player .play-list {
    display: block;
    margin: 10px;
    width: 75%;
    height: 450px;
    overflow: auto;
    z-index: 999;
    border-radius: 6px;
}

.player .dashboard header h4, h2 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.player .dashboard header h4 {
    /*color: #333333;*/
}

.player .cd {
    display: flex;
    align-items: center;
    justify-content: center;
}


.player .inputRange {
    width: 100%;
    accent-color: #ffa500;
}

.player .containerProgress {
    display: block;
    position: relative;
}

.containerProgress .detail-progress {
    position: absolute;
    bottom: -13px;
    left: -13px;
    /*background-color: red;*/
    width: 34px;
    height: 18px;
    color: white;
    font-size: 12px;
}

.action {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.action .item-action {
    margin: 3px 15px;
    cursor: pointer;
}


.play-list .item-song {
    display: flex;
    height: 70px;
    margin-bottom: 5px;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 2px -2px gray;
    cursor: pointer;
    transition: all 0.4s ease;
    opacity: 0.6;
    background-color: #ffa500;
    color: white;
}


/*.play-list .item-song:hover{*/
/*    transform: scale(1.1);*/
/*}*/
.play-list .item-song .cd-list {
    width: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.play-list .cd-thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.cd .cd-thumb {
    height: 333px;
    width: 333px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 50%;
}

.item-song .container-detail {
    display: flex;
    width: calc(100% - 75px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-list .item-song .detail-song {
    padding: 0 10px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.play-list .item-song .detail-song .name-song, .author {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.play-list .item-song .more-action {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.item-hover {
    opacity: 1 !important;
}

.item-not-hover {
    opacity: 0.6 !important;
}